body {
  background-color: #000;
}
/* For hidding scroll bar */
body::-webkit-scrollbar{
  display: none;
}
/* For fluid animation */
canvas {
  position: relative;
  width: 100%;
  height: 100vh;
}

#videoBackground {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#overlay {
  pointer-events: none;
  position: absolute;
  width: 25%;
  height: 25%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
/* End of fluid animation */

/* Playfair Display Font */
.playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* trirong Font */
.trirong {
    font-family: "Trirong", serif;
    font-weight: 300;
    font-style: normal;
  }
/* sofia Font */
.sofia {
    font-family: "Sofia", cursive;
    /* font-weight: 400; */
    font-style: normal;
}
/* Roboto Slab Font */
.roboto {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Kanit Font */
.kanit {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: large;
  font-style: normal;
  background: -webkit-linear-gradient(90deg,#FFFFFF, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Tab */
.nav-link{
  font-family: "Trirong", serif;
  font-weight: bold;
  font-style: normal;
  color: whitesmoke;
}
.nav-pills .nav-link
{
  font-family: "Trirong", serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.nav-pills .nav-link.active
{
  text-shadow: 3px 3px 3px #ababab;
  color: black;
  background-image: linear-gradient(90deg, #000000, #FFFFFF, #000000);
}
/* End Tab */

/* Title */
.text {
  font-weight: 900;
  font-size: 80px;
  color: #1f202000;
  /* -webkit-text-stroke: 1px #1f2020; */
  position: relative;
  background-clip: text;
  overflow: clip;
  display: flex;
  align-items: center; 
  justify-content: center;
  margin-top: 10vh;
  background-color: #fefcef;
  &:before, &:after {
    content: '';
    position: absolute;
    /* //z-index: -1; */
    background-color: #3cf5;
    width: 180%;
    top: 90%;
    left: 50%;
    aspect-ratio: 1;
    translate: -50% 0;
    border-top-left-radius: 60% 80%;
    border-top-right-radius: 50% 80%;
    border-bottom-left-radius: 60% 80%;
    border-bottom-right-radius: 50% 80%;
    mix-blend-mode: multiply;
    /* //background-blend-mode: color; */
    animation: rot 10s linear infinite;
  }
  &:after {
    animation-delay: -4s;
    animation-duration: 8s;
  }
}
@keyframes rot {
  to {
    rotate: 360deg;
  }
}

.logoimg{
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
}
/* End of title */
/* Skills */
.hvr:hover{
  font-weight: bolder;
}
/* Ens Skills */
/* Project */
/* Project Card Background */
.pj_card{
  height: 650px; 
  background-image: linear-gradient(45deg, #FFFFFF, #E5B80B, #FFFFFF, #E5B80B, #FFFFFF); 
  border: #FFFFFF; 
  border-width: 5px; 
  border-style: outset;
}
/* Project Card Body Background */
.pj_body{
  border: #E5B80B; 
  border-width: 5px; 
  border-style: double;
  background-image: url(img/leaf.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 15px;
  display: flex; 
  align-items: center; 
  justify-content: center;
}
/* End of Project */

/* sofia Font
.sofia {
  font-family: "Sofia", cursive;
  font-weight: 900;
  font-style: normal;
} */

.slider h2 {
  font-size: 2vw;
  letter-spacing: 0.3rem;
  font-family: "ROBOTO", sans-serif;
  font-weight: 300;
  color: #faebd7;
  z-index: 4;
}
h3.span {
  font-size: 2vw;
  letter-spacing: 0.7em;
  font-family: "ROBOTO", sans-serif;
  font-weight: 300;
  color: #faebd7;
  z-index: 4;
}

a {
  text-decoration: none;
}

  .nav h2,
  .slider h2 {
    font-size: 2vw;
    letter-spacing: 0.2vw;
  }

  .nav-tab {
    font-size: 1.2vw;
  }

.loader span {
  color: #faebd7;
  text-shadow: 0 0 0 #faebd7;
  -webkit-animation: loading 1s ease-in-out infinite alternate;
}

 /* @media (max-width: 1200px) {
  #overlay {
    pointer-events: none;
    position: absolute;
    width: 25%;
    height: 25%; 
    top: 30%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (max-width: 700px) {
  #overlay {
    pointer-events: none;
    position: absolute;
    width: 25%;
    height: 25%; 
    top: 20%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
*/

@-webkit-keyframes loading {
  to {
    text-shadow: 20px 0 70px #ff0266;
    color: #ff0266;
  }
}
.loader span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}
.loader span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}
.loader span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}
.loader span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}
.loader span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}
.loader span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}
.loader span:nth-child(8) {
  -webkit-animation-delay: 0.7s;
}
.loader span:nth-child(9) {
  -webkit-animation-delay: 0.8s;
}

.loader span:nth-child(10) {
  -webkit-animation-delay: 0.9s;
}
.loader span:nth-child(11) {
  -webkit-animation-delay: 1s;
}
.loader span:nth-child(12) {
  -webkit-animation-delay: 1.1s;
}
.loader span:nth-child(13) {
  -webkit-animation-delay: 1.2s;
}
.loader span:nth-child(14) {
  -webkit-animation-delay: 1.3s;
}
.loader span:nth-child(15) {
  -webkit-animation-delay: 1.4s;
}
.loader span:nth-child(16) {
  -webkit-animation-delay: 1.5s;
}
.loader span:nth-child(17) {
  -webkit-animation-delay: 1.6s;
}
.loader span:nth-child(18) {
  -webkit-animation-delay: 1.7s;
}
.loader span:nth-child(19) {
  -webkit-animation-delay: 1.8s;
}
.loader span:nth-child(20) {
  -webkit-animation-delay: 1.9s;
}
.loader span:nth-child(21) {
  -webkit-animation-delay: 2s;
}
.loader span:nth-child(22) {
  -webkit-animation-delay: 2.1s;
}

/* Footer */
ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #151414;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #ff5e14;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #ff5e14;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #ff5e14;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #ff5e14;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #ff5e14;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}

/* =============> Refferences <================== */
.Marquee {
  /* background: linear-gradient(-135deg, #008ed9, #8b00db); */
  width: auto;
  box-sizing: border-box;
  padding: 1em;
  color: white;
  font-weight: 200;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.Marquee-forward {
  display: flex;
  animation: marqueeForward 10s linear infinite running;
}

.Marquee-backward {
  display: flex;
  animation: marqueeBackward 10s linear infinite running;
}

.Marquee-forward:hover {
  animation-play-state: paused;
}

.Marquee-backward:hover {
  animation-play-state: paused;
}

.Marquee-tag {
  width: 200px;
  margin-left: 1em;
  margin-right: 1em;
  padding: .5em;
  background: rgba(255, 255, 255, .1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all .2s ease;
  border-radius: 15px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: large;
}

.Marquee-tag:hover {
  border: 2px solid green;
  cursor: pointer;
}


@keyframes marqueeForward {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@keyframes marqueeBackward {
  from { transform: translateX(-50%); }
  to { transform: translateX(0); }
}

/* 3D */
.banner{
  width: 100%;
  height: 40vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.banner .slider{
  position: absolute;
  width: 20vh;
  height: 20vh;
  top: 40%;
  left: calc(50%-100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autorun 20s linear infinite;
}
@keyframes autorun {
  from{
    transform: perspective(1000px) rotateY(0deg);
  }to{
    transform: perspective(1000px) rotateY(360deg);
  }
}

.banner .slider .item{
  position: absolute;
  inset: 0 0 0 0;
  transform: 
    rotateY(calc((var(--position) - 1) * (360/var(--quantity)) * 1deg))
    translateZ(550px);
}
.banner .slider .item .card{
  width: 100%;
  height: 40%;
  object-fit: cover;
}

/* For Small devices */
@media (max-width: 769px) {
  .text{
    font-size: 50px;
  }
  .Marquee-tag {
    width: 110px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em;
    border-radius: 15px;
    font-weight: 500;
    font-size: xx-small;
  }
  .logoimg{
    width: 60px; 
    height: 60px; 
    border-radius: 50%;
  }
  canvas {
    display: none;
  }
}